* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar */
header {
    background-color: #111;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
}
.logo span {
    color: #00aaff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text span {
    color: #00aaff;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0088cc;
}

/* About */
.about, .projects, .contact {
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.about p, .contact p {
    margin-top: 10px;
    line-height: 1.6;
}

/* Projects */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* Responsif */
@media (max-width: 768px) {
    .project-list {
        flex-direction: column;
        align-items: center;
    }
}
